java-devel/https%3A%2F%2Fgist.github.com%2Fferronrsmith%2F9328204/src
java-devel/**/.project
java-devel/**/.settings/
java-devel/**/target/
**/.gradle
**/*.war
**/*.rtf

/bin
/rootfs/kubectl
/rootfs/exec2hterm
/rootfs/.gotty

/http%3A%2F%2Fyum.kubernetes.io
/https%3A%2F%2Fpackages.cloud.google.com
/vendor
vendor.txt

# Mac
.DS_Store
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
